<mat-tab-group mat-align-tabs="start" class="listHome">
    <mat-tab label="Próximas">
        <div fxLayout="row" fxLayoutAlign="start center" class="space">
            <div class="liveSpace">
                <mat-card class="example-card" 
                    fxFlex="0 1 calc(33.3% - 11px)" 
                    fxFlex.lt-md="0 1 calc(50% - 11px)"
                    fxFlex.lt-sm="100%">
                    <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Realizadas"> Realizadas </mat-tab>
</mat-tab-group>